<div>
    <h1>Tu perfil!</h1>
    {{#if user}}
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.age}}</p>
        <p>{{user.rol}}</p>
        {{#if cart}}
            <p>Cantidad de elementos en el carrito: {{cart.totalProducts}}</p>
        {{/if}}
    {{else}}
        <p>No estás logueado</p>
        <a href="/users/login">Iniciar sesión</a>
    {{/if}}
</div>
